
#journal {
	border-top: solid 1px #29769e;
	margin-bottom: 20px;
}

#about {
	border-top: solid 1px #29769e;
	margin-bottom: 20px;
}

#work {
	border-top: solid 1px #29769e;
	margin-bottom: 20px;
}

#contact {
	background-color: #c2bbb3;
	margin-bottom: 20px;
}

#contact h3 {
	margin-top: 0px;
}

.social a {
	text-decoration: none;
}

.social ul {
	width: 300px;
	margin:0;
	padding:0;
}

.social ul li {
	float: left;
	list-style-type: none;
	margin-right: 25px;
	margin-bottom: 10px;
}

.disclaimer {
	font-size: 12px;
	
}
