.home-heading {
	color: $brand-primary;
	margin-top: 25px;
}


.home {
	color: #fff;
	margin-top: 25px;
}

.home h2 {
	margin-top: 0;
	padding-top: 0;
}


#journal {
	color: #fff;
}

#about {
    color: #fff;
}

#work {

	margin-bottom: 20px;
}

#contact {
	color: #fff;
}

#contact h3 {
	margin-top: 0px;
}

.social {
	margin-top: 25px;
}

.social a {
	text-decoration: none;
}

.social ul {
	width: 300px;
	margin:0;
	padding:0;
}

.social ul li {
	float: left;
	list-style-type: none;
	margin-right: 25px;
	margin-bottom: 10px;
}

.disclaimer {
	font-size: 12px;
	
}
